@mixin aspect-ratio {
	@supports (--custom: property) {
		&::before {
			content: "";
			display: block;
			padding-bottom: calc(100% / (var(--aspect-ratio)));
		}
		> :first-child,
		> picture {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
@mixin dyn-wrapper {
	position: relative;
	> :first-child,
	> picture {
		width: 100%;
	}
	img {
		width: 100%;
		height: auto;
	}
}
@mixin dyn-crop {
	overflow: hidden;
	position: relative;
	> :first-child[data-dyn_crop] {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	[data-dyn_lqip="separate"] {
		max-width: none;
		width: 100%;
		height: 100%;
	}
}
@mixin dyn-contain {
	img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
}
[style*="--aspect-ratio"],
.aspect-ratio {
	@include aspect-ratio;
}

.dyn_wrapper {
	@include dyn-wrapper;
	&.dyn_crop {
		@include dyn-crop;
	}
	&.dyn_contain {
		@include dyn-contain;
	}
}
